<table class="table">
  <thead>
    <tr>
      <th scope="col">Nama</th>
      <th scope="col">Deskripsi</th>
      <th scope="col">
        <form action="/" method="get">
          <div style="display: flex">
            Status
            <select name="status">
              <option value="All">All</option>
              <option value="Todo">Todo</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select>
            <button type="submit">Filter</button>
          </div>
        </form>
      </th>
      <th scope="col">Deadline</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach(task => { %>

    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <% if(task.status=="Doing") {%>
      <td><span class="badge bg-warning"><%= task.status %></span></td>
      <% }else if(task.status=="Todo"){ %>
      <td><span class="badge bg-info"><%= task.status %></span></td>
      <% }else if(task.status=="Done"){ %>
      <td><span class="badge bg-success"><%= task.status %></span></td>
      <% }else{ %>
      <td><span class="badge bg-secondary"><%= task.status %></span></td>

      <% } %>
      <td><%= task.deadline %></td>
      <td>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>

    <% }); %>
  </tbody>
</table>
